.track {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;

  .header {
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #999;

    .name {
      padding: 0;
      margin: 0;
    }

    .spacer {
      flex-grow: 1;
    }
  }

  .body {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    overflow: visible;
    position: relative;
    border: 1px solid #999;

    .playhead {
      position: absolute;
      width: 1px;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      pointer-events: none;
    }

  }

  &.curve {
    .header {
      .slider-point-control {
        margin-right: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .slider-point-y {
        width: 100px;
      }
    }

    .body {
      position: relative;

      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      svg {
        position: relative;
        overflow: visible;
      }

      .pointTooltip {
        position: absolute;
        padding: 0;
        margin: 0;
      }

      &.video {
        display: flex;
        flex-direction: row;
        align-items: center;

        video {
          background-color: black;
          aspect-ratio: 6/5;
        }

        .fileName {
          margin: 0.5em;

          &.blank {
            color: rgba(0,0,0,0.5);
            font-style: italic;
          }
        }

        .thumb {
          background-color: black;
        }
      }
    }
  }

}

.sampleLocationList {
  display: flex;
  flex-direction: column;
}

.sampleLocationGenerator {
  margin-top: 1em;
  border-top: 1px solid black;

  .row {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em 0.5em 0;
  }
}

.copyFromScene {
  margin-top: 1em;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}
